.cache
build
node_modules
*.tsbuildinfo
.turbo
compile_commands.json
/.llm
/.build
/.playwright-cli
/.playwright-mcp
/example/db
/src/assets
/example/native/demo.endpoints.gen.h
/example/web/endpoints.gen.ts
